<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout/layout.html}">
<div data-layout-fragment="content">
	<div class="text-center">
		<table class="table">
			<tr>
				<td><h1>메인</h1></td>
			</tr>
			<tr>
				<td><div id="root"></div></td>
			</tr>
			<tr>
				<td><div id="root1"></div></td>
			</tr>
			<tr>
				<td><div id="root2"></div></td>
			</tr>
			<tr>
				<td><div id="root3"></div></td>
			</tr>
			<tr>
				<td><div id="root4"></div></td>
			</tr>
			<tr>
				<td><div id="root5"></div></td>
			</tr>
		</table>
	</div>
</div>
</html>